<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Summernote editor
            </h3>
        </div>
    </div>
    <form class="kt-form">
        <div class="kt-portlet__body">
            <div class="form-group">
                <div id="summernote"></div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button class="btn btn-primary test-btn-summernote" type="button">@L("Submit")</button>
            </div>
        </div>
    </form>
</div>