@model Afonsoft.Portal.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<div class="logo">
    <a href="~/">
        <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" height="38" />
    </a>
</div>