@using Afonsoft.Portal
@using Afonsoft.Portal.Web.Areas.App.Models.Layout
@model FooterViewModel
@{
    Layout = null;
}
<div class="kt-footer kt-grid__item" id="kt_footer" kt-hidden-height="65" style="">
    <div class="@(await GetContainerClass())">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                @Model.GetProductNameWithEdition() | v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
            </div>
            <div class="kt-footer__menu">
            </div>
        </div>
    </div>		
</div>